SECRET_KEY=your-secret-key

DEVELOPER=your-name

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,webapp
PORT=8000
BASE_URL=http://localhost:8000/

DATABASE_NAME=team_four_db
POSTGRES_USER=team_four_db_admin
POSTGRES_PASSWORD=team_four_db_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TEST_DATABASE_NAME=test_team_four_db

# Email
# EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@mefit.chat

# Slack
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_CHANNEL_ERROR=C0000000000
SLACK_CHANNEL_EVENT=C0000000001
SLACK_CHANNEL_NPLUSONE=C0000000002

# OpenAI
OPENAI_API_KEY=your-openai-api-key

# S3
AWS_S3_ENDPOINT_URL=http://mefit-s3mock:9090
AWS_STORAGE_BUCKET_NAME=mefit-files

# Video S3 (LocalStack)
VIDEO_S3_ENDPOINT_URL=http://mefit-localstack:4566
VIDEO_S3_PUBLIC_ENDPOINT_URL=http://localhost:4566

# SQS Celery Worker (LocalStack)
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://mefit-localstack:4566
VIDEO_STEP_COMPLETE_SQS_URL=http://mefit-localstack:4566/000000000000/mefit-video-step-complete
