SECRET_KEY=your-secret-key

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,webapp
PORT=8000
BASE_URL=http://localhost:8000/

DATABASE_NAME=team_four_db
POSTGRES_USER=team_four_db_admin
POSTGRES_PASSWORD=team_four_db_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

TEST_DATABASE_NAME=test_team_four_db
TEST_POSTGRES_USER=team_four_db_admin
TEST_POSTGRES_PASSWORD=team_four_db_password
TEST_POSTGRES_HOST=test_postgres
TEST_POSTGRES_PORT=5435
