AWS_ENDPOINT_URL=http://mefit-localstack:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
REGION=us-east-1

FACE_TRIGGER_SQS_URL=http://mefit-localstack:4566/000000000000/mefit-face-trigger

FRAME_BUCKET=pj-kmucd1-04-mefit-video-frame-files
STEP_COMPLETE_SQS_URL=http://mefit-localstack:4566/000000000000/mefit-video-step-complete
S3_ENDPOINT_URL=http://mefit-localstack:4566

LOG_LEVEL=INFO
